.box img {
  width: 480px;
  height: 300px;
  border-radius: 20px;
  margin-bottom: -2vmin;
}
.box p{
  text-align: center;
  font-size: 18px;
}
.genres {
  color: white;
}

.box {
 margin: 15px;
}

.barra {
  color: white;
  text-decoration: none;
}
