.games {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.top-card {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 50px;
  left: 10px;
  padding: 4.8px;
  border-radius: 1rem;
  font-weight: bolder;
  font-size: 15px;
  border-radius: 1rem;
  color: rgb(72, 255, 0);
}

.loading {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.592874649859944) 48%, rgba(0,212,255,1) 100%);
}

.titulo-game {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}