
.select-order {
  border-radius: 0.5rem;
  font-size: 1.2rem;
  margin-right: 50px;
}

.genresName {
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

.btn {
  color: #fff;
  font-size: 1.2rem;
  background-color: #07072c;
  border-radius: 0.5rem;
  margin-left: 50px;
  cursor: pointer;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
}

select {
  margin-left: 10px;
}